@import url('font-awesome.min.css');
@import url("bootstrap.min.css");


body,html{
	margin:0;
	padding: 0;
}

.navbar {
	margin-bottom: 0;
	border-radius: 0;
}

.navbar-brand {
	padding: 0;
}

#lgo {
	width: 72px;
}

.navbar-right {
	margin-right: 0;
}

.content{
	font-family: roboto, sans-serif;
	font-size: 17px;
}

.col-md-4 img{
	width: 250px;
	border-radius: 100%;
	height: 250px;
	border:5px solid #ccc;
}

#footer{
	background-color: #f1db20;
	text-align: center;
	float: left;
	width: 100%;
	font-weight: bold;
	color:black;
	font-family: Droid Sans, Sans-serif;
}

.socms li {
	display: inline;
    margin:5px 10px;
    text-align: center;
}

.sm i {
	font-size:4;
}

#Copyright {
	background-color:hsla(54, 93%, 65%, 0.65);
	text-align: center;
	color: #796f6f;
	padding-left: 35px;
}

#dc {
    width:100%;
    float: left;
}

#dc #divs {
	width: 100%;
	text-align: center;
	font-weight: bold;
	background-color: #d6f5f5;
	font-family: kaushan script, cursive;
	float: left;
	padding: 40px 0;
}

#divs .one a{
	text-decoration: none;
	color: black;
}

.hdg {
	text-align: center;
	padding-bottom: 1px;
	padding-top: 17px;
	font-family: kaushan script, cursive;
	color: #e4e229;
	margin-bottom: inherit;
	background-color: aliceblue;
}

.hd {
	text-align: center;
	padding-bottom: 30px;
	padding-top: 50px;
	font-family: kaushan script, cursive;
	color: #087cb1;
	font-weight: bolder;
}

.container .col-md-4 {
	height: 410px;
	color: black;
	background: #e4e229;
	border: 20px;
	text-align: center;
	margin-top: 30px;
}

.hide-bullets {
    list-style:none;
    margin-left: -40px;
    margin-top:20px;
}

.thumbnail {
    padding: 0;
}

.carousel-inner>.item>img, .carousel-inner>.item>a>img {
    width: 100%;
}

#ob {
	font-family: kaushan script, cursive;
	margin-top: 50px;
	margin-bottom: 20px;
	text-indent: 100px;
}

.col-md-12 {
	color: #047f94;
	line-height: 35px;
}