@import url('font-awesome.min.css');
@import url("bootstrap.min.css");

body,html{
	margin:0;
	padding: 0;
}

.nav #items{
	float: right;
	margin-right: 100px;
}

.nav

.nav #items li{
	display: inline-block;
	font-weight: bolder;
	margin-right: 30px;
	font-size: 20px;
	font-family: bradley hand ITC;
}

.nav #items li a{
	text-decoration: none;
	color: #d6d6d6;

}

.navbar {
	margin-bottom: 0;
	border-radius: 0;
}


.nav #logo {	
	width: 100px;
	margin-left: 20px;
}

#logoDiv{
	float:left;
	width:120px;
}

.navbar-brand {
	padding: 0;
}

#lgo {
	width: 90px;
	padding-bottom: 50px;

}

.navbar-right {
	margin-right: 0;
}
#hp {
	height: 700px;
	width: 100%;
}

.one{
	width:22%;
	/*height: 70px;*/
	float:left;
}

.one img{
	width: 200px;
	border-radius: 100%;
	margin-top: 10px;
	height: 200px;
	border:5px solid #ccc;
}

#footer{
	background-color: #f1db20;
	text-align: center;
	/*height: 240px;*/
	float: left;
	
	width: 100%;
	/*margin-top: 160px;*/
	font-weight: bold;
	color:black;
	font-family: century schoolbook;
}

.socms li {
	display: inline;
    /*margin:5px 10px;*/
}

.sm i {

 font-size:4;

}

#Copyright {
	background-color:hsla(54, 93%, 65%, 0.65);
}

#dc {
    width:100%;
    float: left;
/*	padding-bottom: 25px;
*/}

#dc #divs {
	width: 100%;
	text-align: center;
	font-weight: bold;
	background-color: white;
	font-family: kristen ITC;
	float: left;
	padding: 40px 0;
	padding-left: 100px;
}

#divs .one a{
	text-decoration: none;
	color: black;
}



#con {
	text-align: justify;

}

body {
	/*background-color: #064e88;*/
}


#con .mp{
	padding-left: 60px;
	padding-right: 60px;
	padding-top: 0px;
	line-height: 0.9cm;
	font-size: 17px;
	font-family: kristen ITC;
}

.hdg {
	text-align: center;
	padding-bottom: 1px;
	padding-top: 17px;
	padding-left: 60px;
	font-family: harrington;
	color: #e4e229;
}

.hd {
	text-align: center;
	padding-bottom: 1px;
	padding-top: 17px;
	padding-left: 60px;
	font-family: harrington;
	color: #087cb1;
}

#abu {
	height: 100px;
	width: 1200px;
	color: #aa9c07;
	border: 20px;
	padding-left: 60px;
	padding-right: 60px;
	padding-top: 40px; 
}

#cir {
	width: 400px;
	height: 400px;
	color: black;
	background: #e4e229;
	border: 20px;
	border-radius: 50%;
	vertical-align: middle;
	text-align: center;
	display: table-cell;
	
}

#cc {
	padding-left: 50px;
	padding-right: 50px; 
}

#oc {
	width: 1200px;
	height: 100px;
	padding-top: 50px;
}

#ob {
	text-indent: 55px;
}

#oc .mp {
	color: #17a3bb;
}

#oc #ob {
	font-family: harrington;
	color: #f1db20;
	font-weight: bolder;
}